#searchBT{
    -fx-background-color: #464D73;
    -fx-background-radius: 0 50 50 0;
}
#searchTF{
    -fx-background-radius: 50 0 0 50;
}
#searchHB{
    -fx-border-width: 3;
    -fx-border-color: #464D73;
    -fx-border-radius: 20;
    -fx-background-color: #464D73;
    -fx-background-radius: 40;
}
.separator{
    -fx-background-color: transparent;
}
#overviewBT {
     -fx-background-color: #7B81A6;
     -fx-background-radius: 0;
}
#exploreBT {
    -fx-background-color: #7B81A6;
    -fx-background-radius: 0;
}
#roomsBT {
    -fx-background-color: #7B81A6;
    -fx-background-radius: 0;
}
#overviewBT:hover{
    -fx-background-color: #8D8AA6;
}
#exploreBT:hover{
    -fx-background-color: #8D8AA6;
}
#roomsBT:hover{
    -fx-background-color: #8D8AA6;
}

